body {
    color: #1C1D21;
    background-color: #F1E3E4;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
}

.pill-category {
    background-color: #87698C;
    color: #FFFFFF;
    font-weight:bold;
}

.pill-time {
    background-color: #A47995;
    color: #FFFFFF;
    font-weight:bold;
}

.pill-pages {
    background-color: #B9A2A2;
    color: #FFFFFF;
    font-weight:bold;
}

.link-icon {
    font-size: 1rem;
}

nav a {
    text-decoration: none;
}

.brand-title, .brand-subtitle {
    margin: 0px;
    padding: 0px;
}
.brand-title {
    color: #1C1D21;
    font-size: 1.25rem;
}

.brand-subtitle {
    color: #87698C;
    font-size: 0.9rem;
}

.btn-main {
    background-color: #F1E3E4;
    color: #1C1D21;
}

.btn-main:hover {
    background-color: #dfc9ca;
}

#year-nav .active {
    background-color: #B9A2A2;
    border: 1px solid #B9A2A2;
}

#category-nav .active {
    background-color: #87698C;
    border: 1px solid #87698C;
}

#year-nav, #category-nav {
    font-weight: bold;
}